.footer-bottom p { color: #555; font-size: 0.85rem; margin-bottom: 10px; }
.developer { font-size: 0.75rem !important; letter-spacing: 1px; }
.developer a { 
    color: #007AFF; 
    text-decoration: none; 
    font-weight: 800; 
    transition: 0.3s;
}